---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The New Dev</title>
	</head>
	<body>
    <a href="/">Home</a>
		<a href="/about/">About</a>
    <a href="/blog/">Blog</a>

		<h1>About</h1>
    <p>This blog is a great resource for anyone looking to improve their web development skills. It offers informative and insightful articles to help you become a skilled developer, whether you're a pro or just starting out.</p>
    <p>This blog is built with Astro.build and will update as I complete the tutorial. Check back to follow my progress!</p>
	</body>
</html>